<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.main.member.MemberMapper">
    <select id="getId" resultType="com.shop.main.member.Member" parameterType="com.shop.main.member.Member">
		select * from s_member where m_id = #{m_id} <!-- 1.12 코드수정 성현 -->
    </select>
	<insert id="signup" parameterType="com.shop.main.member.Member">
		insert into s_member values(#{m_id}, #{m_pw}, #{m_name}, #{m_address}, 'bronze', #{m_sex})
	</insert>
	<update id="update" parameterType="com.shop.main.member.Member">
		update s_member set m_pw=#{m_pw}, m_name=#{m_name}, m_address=#{m_address}, m_sex=#{m_sex} where m_id=#{m_id} <!--  1.20 코드 추가 성현 -->
	</update>
	<delete id="delete" parameterType="com.shop.main.member.Member">
		delete from s_member where m_id = #{m_id}
	</delete>
	<!-- 02.01 회원조회 하기 위해 회원 불러오기, 검색하기 장창호 -->
	<select id="getMember" resultType="com.shop.main.member.Member" parameterType="com.shop.main.member.Member">
		select * from s_member
    </select>
	<select id="searchMember" resultType="com.shop.main.member.MemberSelector" parameterType="com.shop.main.member.MemberSelector">
		select * from s_member where order by m_name DESC
		<where>
			<if test="type=='name'">
				and m_name like '%'||#{search}||'%'
			</if>
			<if test="type=='address'">
				and m_address like '%'||#{search}||'%'
			</if>
			<if test="type=='sex'">
				and m_sex like '%'||#{search}||'%'
			</if>
			order by m_name DESC
		</where> 
    </select>
</mapper>