<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.main.product.ProductMapper">
	<select id="getAllProductCount" resultType="java.lang.Integer">
		select count(*) from product order by product_number
	</select>
	<select id="getAllProductCounts" resultType="java.lang.Integer">	<!-- 마이바티스에서도 새로 추가하고 -->
		select count(*) from product order by product_number
	</select>
	<select id="getSearchProductCount" parameterType="com.shop.main.product.ProductSelector" resultType="java.lang.Integer">
		select count(*) from product where product_name like '%'||#{search}||'%'
	</select>
	<select id="getProduct2" parameterType="com.shop.main.product.ProductSelector" resultType="com.shop.main.product.Product">
		select * from (
		select rownum as rn, product_number, product_stock, category_code, product_name, product_price, company_number, product_img 
		from (select * from product where product_name like '%'||#{search}||'%'))
		where rn &gt;= #{start} and rn &lt;= #{end}
	</select>
	<insert id="productReg" parameterType="com.shop.main.product.Product" >
		insert into product values (product_seq.nextval, #{category_code}, #{product_name}, #{product_price}, #{company_number}, #{product_stock}, #{product_img})
	</insert>
	<delete id="productDel" parameterType="com.shop.main.product.Product">
		delete from product where product_number = #{product_number}
	</delete>
	<update id="productModify" parameterType="com.shop.main.product.Product">
		update product set product_name = #{product_name}, product_price = #{product_price}, product_stock = #{product_stock}
		where product_number = #{product_number}
	</update>
	<select id="getTop" resultType="com.shop.main.product.Product">
		select * from product where category_code = 1
	</select>
	<select id="getBottom" resultType="com.shop.main.product.Product">
		select * from product where category_code = 2
	</select>
	<select id="getShoes" resultType="com.shop.main.product.Product">
		select * from product where category_code = 3
	</select>
	<select id="getCap" resultType="com.shop.main.product.Product">
		select * from product where category_code = 4
	</select>
	<select id="getAccessory" resultType="com.shop.main.product.Product">
		select * from product where category_code = 5
	</select>
	<select id="getAllCategories" resultType="com.shop.main.product.Product">
		select * from product
	</select>
</mapper>