@charset "UTF-8";

@font-face {
	font-family: "a";
	src: url("chilgok.ttf"); /* 폰트 칠곡체 */
}

* {
	font-family: "a";
	text-decoration: none;
	margin: 0; /* 외부공간 */
	padding: 0; /* 내부공간 */
}

a:visited {@font-face {
	font-family: "a";
	src: url("chilgok.ttf"); /* 폰트 칠곡체 */
}

* {
	font-family: "a";
	text-decoration : none;
	margin: 0; /* 외부공간 */
	padding: 0; /* 내부공간 */
}

a:visited{
	color: black;
}@font-face {
	font-family: "a";
	src: url("chilgok.ttf"); /* 폰트 칠곡체 */
}

* {
	font-family: "a";
	text-decoration : none;
	margin: 0; /* 외부공간 */
	padding: 0; /* 내부공간 */
}

a:visited{
	color: black;
}
	color: black;
}
/* 화면 전체 렙 */
.wrapper {
	width: 1900px;
}

/* content 랩 */
.wrap {
	width: 800px;
	margin: auto;
}
/* 페이지 제목 */
.subjecet {
	width: 100%;
	height: 120px;
	background-color: #8EC0E4;
}

.subjecet span {
	font-family: "a";
	margin-left: 31px;
	font-size: 80px;
	font-weight: 900;
	color: white;
}

/* 아이디 영역 */
.id_wrap {
	width: 100%;
	margin-top: 20px;
}

.id_name {
	font-family: "a";
	font-size: 25px;
	font-weight: bold;
}

.id_input_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
}

.id_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

/* 비밀번호 영역 */
.pw_wrap {
	width: 100%;
	margin-top: 20px;
}

.pw_name {
	font-family: "a";
	font-size: 25px;
	font-weight: bold;
}

.pw_input_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
}

.pw_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

/* 비밀번호 확인 영역 */
.pwck_wrap {
	width: 100%;
	margin-top: 20px;
}

.pwck_name {
	font-family: "a";
	font-size: 25px;
	font-weight: bold;
}

.pwck_input_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
}

.pwck_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

/* 이름 영역 */
.user_wrap {
	width: 100%;
	margin-top: 20px;
}

.user_name {
	font-family: "a";
	font-size: 25px;
	font-weight: bold;
}

.user_input_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
}

.user_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

/* 주소 영역 */
.address_wrap {
	width: 100%;
	margin-top: 20px;
}

.address_name {
	font-family: "a";
	font-size: 25px;
	font-weight: bold;
}

.address_input_1_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
	width: 61%;
	float: left;
}

.address_input_1 {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

.address_button {
	font-family: "a";
	border: 1px solid black;
	height: 51px;
	width: 30%;
	float: right;
	line-height: 50px;
	text-align: center;
	font-size: 30px;
	font-weight: 900;
	background-color: #ececf7;
	cursor: pointer;
}

.address_input_2_wrap {
	margin-top: 20px;
}

.address_input_2_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
}

.address_input_2 {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

.address_input_3_wrap {
	margin-top: 20px;
}

.address_input_3_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
}

.address_input_3 {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}
/* 성별 영역 */
.gender_wrap {
	width: 100%;
	margin-top: 20px;
}

.gender_name {
	font-family: "a";
	font-size: 25px;
	font-weight: bold;
}

.gender_radio_box {
	font-family: "a";
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
}

.user_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

/* 수정 삭제 영역 */
.button_wrap {
	margin-top: 40px;
	text-align: center;
}

/* 수정 영역 */
.button_update_wrap {
	font-size: 30px;
	font-weight: 900;
	display: inline-block;
	text-align: center;
	margin-left: 10%;
	background: #e1e5e8;
	width: 180px;
	height: 50px;
	line-height: 22px;
	border-radius: 25px;
	color: #8EC0E4;
	right: 25%;
	border-style: hidden;
	position: relative;
}

/* 삭제 영역 */
.button_delete_wrap {
	font-size: 30px;
	font-weight: 900;
	display: inline-block;
	text-align: center;
	margin-left: 10%;
	background: #e1e5e8;
	width: 180px;
	height: 50px;
	line-height: 22px;
	border-radius: 25px;
	color: red;
	right: 0%;
	border-style: hidden;
	position: relative;
}
/* 비밀번호 이미지 */
.pw_eye_img {
	width: 40px;
	height: 40px;
	top: 285px;
	left: 1300px;
	position: absolute;
}

/* 비밀번호 체크 이미지 */
.pwck_eye_img {
	width: 40px;
	height: 40px;
	top: 388px;
	left: 1300px;
	position: absolute;
}

/* float 속성 해제 */
.clearfix {
	clear: both;
}